<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
<div class="container">
  <h1 class="my-4 text-center text-lg-left" align="center"><%= @artist.name %></h1>
  <div class="row text-center text-lg-left">
  	<% @albums.each do |album| %>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="../albums/<%= album.id %>" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src=<%= album.image.url(:medium) %> alt="">
            <h2 align="center"><%= album.name %></h2>
          </a>
        </div>
    <% end %>
  </div>
</div>